<div ng-controller="ArticlesController">
    <h1>Golden Crew Articles</h1>
    <div ng-repeat="item in model.articles" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <h2>{{item.title}}</h2>
                </div>
                <div class="hidden-xs col-md-3">
                    <h2 class="pull-right"><a>Desplegable</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img ng-src="{{item.image_url}}" width="100%" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{item.overview}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <p>Created by:{{item.user_created}} in {{item.date_created}}</p>
                </div>
                <div class="col-xs-3">
                    <p class="pull-right"><a class="btn btn-primary btn-lg" href="#{{paths.articles}}/{{item._id}}" role="button">View</a></p>
                </div>
            </div>
        </div>
    </div>
    {{model}}
</div>
