<div ng-controller="ArticleDetailController">
    <h1>Article detail {{::model.title}}</h1>
    <div ng-show="state == 'loading'">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div ng-show="state == 'blank'">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h2>No hay articulos disponibles que mostrar.</h2>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="state == 'ideal'">
        <div ng-repeat="item in model.articles" class="jumbotron">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <h2>{{item.title}}</h2>
                </div>
                <div class="hidden-xs col-md-3">
                    <div class="dropdown" ng-show="{{::userlog == item.user_created.toLowerCase()}}">
                        <button class="btn btn-default dropdown-toggle pull-right" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" aria-labelledby="actions">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img ng-src="{{::item.url_imagen}}" width="100%" class="img-responsive" ng-show="{{::item.url_imagen != ''}}">
                    <p ng-show="{{::item.url_imagen == ''}}"> "No hay imagen disponible para mostrar en estos momentos." </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{item.overview}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="{{::item.url_video !== ''}}">
                        <video class="center-block" width="100%" controls ng-src="{{trustSrc(item.url_video)}}" type="video/mp4"></video>
                    </div>
                    <div>
                        <p ng-show="{{::item.url_video === ''}}"> "No hay video disponible para mostrar en estos momentos." </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <p style="text-align:center">Created by:{{item.user_created}} in {{item.date_created | date:'yyyy-MM-dd - HH:mm:ss'}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p><a class="btn btn-warning btn-lg button-all-width center-block" href="#/" role="button">Go back to articles!</a></p>
        </div>
    </div>
</div>
