<div class="container">
    <div class="row">
        <h1>Error 404. Page not Found.
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h3>Sorry, but the page you are looking for has not been found. Try checking the URL for errors, then click the refresh button on your web browser. Else click in the button for go back.
                </h3>
                <br>
            </div>
            <div class="col-xs-12">
                <div class="hidden-xs">
                    <video class="center-block" width="55%" autoplay="autoplay" poster="http://localhost:3000/api/articles/images/error.jpg" loop="">
                        <source src="http://localhost:3000/api/articles/videos/error.mp4" type="video/mp4"> Tu navegador no soporta HTML5 video
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <p><a class="btn btn-warning btn-lg button-all-width center-block" href="#/" role="button">Go back to home!</a></p>
    </div>
</div>
