<!DOCTYPE html>
<html>
  <head>
    <title><%= articles %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= articles %></h1>
    <p>Welcome to <%= articles %></p>
  </body>
</html>
